.navbar__list {
  display: flex;
}

.navbar__item {
  padding: 0.8125rem 1.5rem;
}

.navbar__item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar__link {
  display: flex;
  gap: 11px;
}

.navbar__link.discover::before {
  content: url('data:image/svg+xml,%0A%3Csvg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6.32998 11.9663L6.86193 12.495L6.32998 11.9663C6.06481 12.2331 5.91667 12.594 5.91667 12.9693V16.6585C5.91667 16.8168 5.8541 16.9678 5.74419 17.0784C5.63444 17.1888 5.48656 17.25 5.33333 17.25H2.00075C1.67062 17.2497 1.35317 17.1176 1.11832 16.8813C0.883396 16.645 0.750418 16.3235 0.75 15.9873V5.97153C0.750332 5.86814 0.777101 5.76681 0.827427 5.67732C0.87772 5.5879 0.94971 5.51353 1.03605 5.46094C1.03626 5.46082 1.03646 5.46069 1.03667 5.46056L8.70161 0.833354L8.70171 0.833295C8.79219 0.778657 8.89534 0.75 9.00017 0.75C9.105 0.75 9.20815 0.778656 9.29862 0.833295L9.29872 0.833354L16.9635 5.46045C16.9637 5.46058 16.9639 5.46071 16.9641 5.46084C17.0504 5.51344 17.1224 5.58782 17.1726 5.67723C17.2229 5.7667 17.2497 5.86799 17.25 5.97133C17.25 5.97158 17.25 5.97182 17.25 5.97206L17.25 15.987C17.2497 16.3233 17.1167 16.6449 16.8817 16.8813C16.6468 17.1176 16.3294 17.2497 15.9992 17.25H12.6667C12.5134 17.25 12.3656 17.1888 12.2558 17.0784C12.1459 16.9678 12.0833 16.8168 12.0833 16.6585V12.9693C12.0833 12.594 11.9352 12.2331 11.67 11.9663L11.1381 12.495L11.67 11.9663C11.4047 11.6993 11.0439 11.5485 10.6667 11.5485H7.33333C6.95612 11.5485 6.5953 11.6993 6.32998 11.9663Z" stroke="white" stroke-width="1.5"/%3E%3C/svg%3E%0A');
}

.navbar__link.live-tv::before {
  content: url('data:image/svg+xml,%0A%3Csvg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M18.4412 5.23541H3.61765C2.4481 5.23541 1.5 6.18352 1.5 7.35306V16.8825C1.5 18.052 2.4481 19.0001 3.61765 19.0001H18.4412C19.6107 19.0001 20.5588 18.052 20.5588 16.8825V7.35306C20.5588 6.18352 19.6107 5.23541 18.4412 5.23541Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M15.2655 1L11.0302 5.23529L6.79492 1" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E%0A');
}

.navbar__link.shows::before {
  content: url('data:image/svg+xml,%0A%3Csvg width="22" height="20" viewBox="0 0 22 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M6 19H16" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M1 14.4V1.6C1 1.44087 1.06321 1.28826 1.17574 1.17574C1.28826 1.06321 1.44087 1 1.6 1H20.4C20.5591 1 20.7117 1.06321 20.8243 1.17574C20.9368 1.28826 21 1.44087 21 1.6V14.4C21 14.5591 20.9368 14.7117 20.8243 14.8243C20.7117 14.9368 20.5591 15 20.4 15H1.6C1.44087 15 1.28826 14.9368 1.17574 14.8243C1.06321 14.7117 1 14.5591 1 14.4V14.4Z" stroke="white" stroke-width="1.5"/%3E%3C/svg%3E%0A');
}

.navbar__link.movies::before {
  content: url('data:image/svg+xml,%0A%3Csvg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M11 21C16.523 21 21 16.523 21 11C21 5.477 16.523 1 11 1C5.477 1 1 5.477 1 11C1 16.523 5.477 21 11 21Z" stroke="white" stroke-width="1.5" stroke-linejoin="round"/%3E%3Cpath d="M11 7.99982C11.3978 7.99982 11.7794 7.84178 12.0607 7.56048C12.342 7.27917 12.5 6.89764 12.5 6.49982C12.5 6.10199 12.342 5.72046 12.0607 5.43916C11.7794 5.15785 11.3978 4.99982 11 4.99982C10.6022 4.99982 10.2206 5.15785 9.93934 5.43916C9.65804 5.72046 9.5 6.10199 9.5 6.49982C9.5 6.89764 9.65804 7.27917 9.93934 7.56048C10.2206 7.84178 10.6022 7.99982 11 7.99982ZM11 16.9998C11.3978 16.9998 11.7794 16.8418 12.0607 16.5605C12.342 16.2792 12.5 15.8976 12.5 15.4998C12.5 15.102 12.342 14.7205 12.0607 14.4392C11.7794 14.1579 11.3978 13.9998 11 13.9998C10.6022 13.9998 10.2206 14.1579 9.93934 14.4392C9.65804 14.7205 9.5 15.102 9.5 15.4998C9.5 15.8976 9.65804 16.2792 9.93934 16.5605C10.2206 16.8418 10.6022 16.9998 11 16.9998ZM6.5 12.4998C6.89782 12.4998 7.27936 12.3418 7.56066 12.0605C7.84196 11.7792 8 11.3976 8 10.9998C8 10.602 7.84196 10.2205 7.56066 9.93916C7.27936 9.65785 6.89782 9.49982 6.5 9.49982C6.10218 9.49982 5.72064 9.65785 5.43934 9.93916C5.15804 10.2205 5 10.602 5 10.9998C5 11.3976 5.15804 11.7792 5.43934 12.0605C5.72064 12.3418 6.10218 12.4998 6.5 12.4998V12.4998ZM15.5 12.4998C15.8978 12.4998 16.2794 12.3418 16.5607 12.0605C16.842 11.7792 17 11.3976 17 10.9998C17 10.602 16.842 10.2205 16.5607 9.93916C16.2794 9.65785 15.8978 9.49982 15.5 9.49982C15.1022 9.49982 14.7206 9.65785 14.4393 9.93916C14.158 10.2205 14 10.602 14 10.9998C14 11.3976 14.158 11.7792 14.4393 12.0605C14.7206 12.3418 15.1022 12.4998 15.5 12.4998Z" stroke="white" stroke-width="1.5" stroke-linejoin="round"/%3E%3Cpath d="M11 21H21" stroke="white" stroke-width="1.5" stroke-linecap="round"/%3E%3C/svg%3E%0A');
}

.navbar__link.my-stuff::before {
  content: url('data:image/svg+xml,%0A%3Csvg width="20" height="22" viewBox="0 0 20 22" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M14.1265 6C13.9428 8.47828 12.064 10.5 10.0015 10.5C7.939 10.5 6.05697 8.47875 5.8765 6C5.689 3.42188 7.51713 1.5 10.0015 1.5C12.4859 1.5 14.314 3.46875 14.1265 6Z" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M10.0005 13.5C5.92239 13.5 1.78333 15.75 1.01739 19.9969C0.92364 20.5088 1.21473 21 1.75098 21H18.2505C18.7868 21 19.0765 20.5088 18.9841 19.9969C18.2177 15.75 14.0786 13.5 10.0005 13.5Z" stroke="white" stroke-width="1.5" stroke-miterlimit="10"/%3E%3C/svg%3E%0A');
}

@media (max-width: 1100px) {
  .navbar__link {
    font-size: 0;
    gap: 5px;
  }

  .navbar__item {
    padding: 0.5rem;
  }
}
